.productForm {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 gap: 1em;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 1em;
 font-weight: 600;
 color:#363636;  
 width: 90%;
}

.productForm-item {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: flex-start;
 gap: 0.5em;
 color:#363636;
 width: 100%; 
}

.productForm-item select,
.productForm-item input[type="number"],
.productForm-item input[type="text"] {
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 1em;
 font-weight: 500;
 color:#DBDBDE;
 text-align: justify;
 padding: 0.5em 1em;
 background-color: #363636;
 border: 1px solid #DBDBDE;
 border-radius: 0.5em;
 box-sizing: border-box;
 width: 100%; 
}
.productForm-item input:hover {
 background-color: #363636b0;
 border: 1px solid orangered;
 color: #DBDBDE;
}
.productForm-item input:active {
 background-color: #363636b0;
 border: 1px solid orangered;
 color: #DBDBDE;
}

.hidden {
 display: none;
}

.description {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: flex-start;
 gap: 0.5em;
 color:#363636;
 width: 100%; 
}

.description span {
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 1em;
 font-weight: 500;
 color:#DBDBDE;
 text-align: justify;
 padding: 0.5em 1em;
 background-color: #363636;
 border: 1px solid #DBDBDE;
 border-radius: 0.5em;
 box-sizing: border-box;
 width: 100%;
}

.buttonForm {
 display: flex;
 justify-content: space-between;
}

button {
 background-color: orangered;
 color: #363636;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 1em;
 font-weight: 600;
 padding: 0.5em 1em;
 border: 2px solid #363636;
 border-radius: 0.5em;
 cursor: pointer;
}

button:hover {
 background-color: #DBDBDE;
 color: #363636;
}
button:active {
 background-color: #363636;
 color: #DBDBDE;
 border: 2px solid orangered;
}

.productForm-item-form {
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: center;
 gap: 1em;
 width: 100%;
}

.productForm-img {
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: center;
 gap: 1em;
 width: 100%;
}

.img {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 border: 2px dashed #363636;
 padding: 0.25em;
 gap: 0.25em;
 position: relative;
 overflow: hidden;
 cursor: pointer;
 width: 100%;
}

.img:hover {
 border-color: #DBDBDE;
}

.textClass {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 gap: 1em;
 padding: 1em 0;
 text-align: center;
}

.textClass p {
 font-size: 1em;
 font-weight: 600;  
}

.imageInput {
 background-color: transparent;
 
}

.deleteBtn {
 display: none;
 background-color: rgb(255, 0, 0);
 color: white;
 padding: 0.5em 1em;
 width: 100%;
 border: none;
 cursor: pointer;
}

.productForm-img > label {
 width: 100%;
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 cursor: pointer;
}

.imgPreview {
 width: 100%; 
 height: 100%; 
 object-fit: contain;
 display: none;
 aspect-ratio: 4 / 3;
}

.detail {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 0.5em;
 margin-bottom: 1em;
 width: 100%;
}

.detail input[type="text"],
.detail textarea {
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 1em;
 font-weight: 500;
 color:#DBDBDE;
 text-align: justify;
 padding: 0.5em 1em;
 background-color: #363636;
 border: 1px solid #DBDBDE;
 border-radius: 0.5em;
 box-sizing: border-box;
 width: 100%; 
}
.detail input:hover {
 background-color: #363636b0;
 border: 1px solid orangered;
 color: #DBDBDE;
}
.detail input:active {
 background-color: #363636b0;
 border: 1px solid orangered;
 color: #DBDBDE;
}

.buttonForm {
 margin: 2em 0 4em 0;
}

.buttonForm button {
 width: 100%;
 background-color: #20a224;
 border: 1px solid #DBDBDE;
 color: #DBDBDE;
}

.buttonForm button:hover {
 background-color: #DBDBDE;
 border: 1px solid #20a224;
 color: #20a224;
}